/* ==========================================
   Type-G Construction Recruitment LP
   CSS Entry Point
   ========================================== */

@import url('css/variables.css');
@import url('css/base.css');
@import url('css/components.css');
@import url('css/header.css');
@import url('css/hero.css');
@import url('css/sections.css');
@import url('css/guardian.css');
@import url('css/footer.css');

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700&display=swap');
